 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 726px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 387px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: Georgia, serif;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: 11px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 11px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 11px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 65px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 11px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 726px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 490px;
  height: 658px;
  margin: 0 auto -84px;
}

.u-section-1 .u-image-1 {
  width: 658px;
  height: 490px;
  transform-origin: center center 0px;
  position: relative;
  top: 84px;
  left: -84px;
  transform: scaleY(-1) rotate(90deg);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-right: 49px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3.75rem;
    margin-right: 49px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 639px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 457px;
  }
}