 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 688px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 387px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 27px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: Georgia, serif;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 319px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 27px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 301px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 27px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 726px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 316px;
  height: 316px;
  margin: 175px auto 0 117px;
}

.u-section-1 .u-image-1 {
  width: 316px;
  height: 316px;
  object-position: 50% 19.25%;
  transform-origin: center center 0px;
  position: relative;
  transform: rotate(180deg);
  margin-right: auto;
  margin-left: auto;
  top: 0;
  left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 639px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 918px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 689px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 434px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: 4px;
  }
}